body {
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #f9f7f7;
}

h1 {
  font-size: 5.625rem;
  margin: 0;
  padding: 50px;
  color: #f9f7f7;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #dbe2ef;
  font-weight: bolder;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #3f72af;
}

a {
  color: #112d4e;

}

p {
  line-height: 2;
  font-weight: bold;
  color: #112d4e;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 5%;
  margin: 50px auto;
}

.container-image-1, .container-image-2, .container-image-3, .container-image-4 {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no repeat;
  background-attachment: fixed;
}

.container-image-1 {
  background-image: url(../images/image3.jpg);
  width: 100%;
  min-height: 700px;
}

.container-image-2 {
  background-image: url(../images/image2.jpg);
  width: 100%;
  min-height: 400px;
}

.container-image-3 {
  background-image: url(../images/image1.jpg);
  width: 100%;
  min-height: 400px;
}

.container-image-4 {
  background-image: url(../images/image3.jpg);
  width: 100%;
  min-height: 400px;
}

.top-container {
  padding-top: 150px;
  width: 60%;
  margin: 0 auto;
}

.my-skills {
  padding-top: 150px;
  width: 60%;
  margin: 0 auto;
  font-weight: 900;
}

.contact {
  padding-top: 150px;
  width: 60%;
  margin: 0 auto;
  font-weight: 900;
}

.middle-container {
  margin: 50px 0;
}

.bottom-container {
  background-color: #3f72af;
  opacity: 0.8;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-link {
  margin: 0 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.footer-link:hover {
  color: #eaf6f6;
}

.pro {
  text-decoration: underline;
}


.programmer {
  font-weight: normal;
  color: #f9f7f7;
}

.hello {
  color: #3f72af;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.photoshop-img {
  width: 25%;
  margin-left: 30px;
  float: right;
}

.web-img {
  width: 25%;
  margin-right: 30px;
  float: left;
}

.profile {
  width: 50%;
  margin: 50px auto;
}

.shaun-img {
  width: 25%;
}

.contact-me {
  width: 50%;
  margin: 50px auto 50px;
}

.contact-sub {
  width: 70%;
  margin: 50px auto;

}

.contact-msg {
  margin: 50px auto 60px;
}

.copyright-text {
  color: #EAF6F6;
  font-size: 0.8rem;
  padding-top: 20px;
}

.btn {
  background: #3f72af;
  background-image: -webkit-linear-gradient(top, #3f72af, #6d9dd6);
  background-image: -moz-linear-gradient(top, #3f72af, #6d9dd6);
  background-image: -ms-linear-gradient(top, #3f72af, #6d9dd6);
  background-image: -o-linear-gradient(top, #3f72af, #6d9dd6);
  background-image: linear-gradient(to bottom, #3f72af, #6d9dd6);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #5f99df;
  background-image: -webkit-linear-gradient(top, #5f99df, #67a7f4);
  background-image: -moz-linear-gradient(top, #5f99df, #67a7f4);
  background-image: -ms-linear-gradient(top, #5f99df, #67a7f4);
  background-image: -o-linear-gradient(top, #5f99df, #67a7f4);
  background-image: linear-gradient(to bottom, #5f99df, #67a7f4);
  text-decoration: none;
}

@@media (max-width 568px) {

  .container-image-1, .container-image-2, .container-image-3, .container-image-4 {
  background-attachment: scroll;
}
}
